* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url(https://i.pinimg.com/originals/46/2f/56/462f56d9c11e41741daae2c35c70f069.jpg); */
  font-family: sans-serif;
  background-size: cover;
  /* height: 100vh; */
  background-position: center;
}

/* ===================header================= */

/* .news-head1 {
  color: white;
} */

.news-header {
  display: flex;
  justify-content: space-around;
  background-color: bisque;
  align-items: center;
  flex-wrap: wrap;
}
ul {
  width: 500px;
  height: auto;
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin-right: 5rem; */
}

/* =======footer=============================== */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #17a2b8;
  text-align: center;
  color: white;
}

/* ===========================displaydata===================== */

.childcon {
  /* display: grid; */
  border: 2px solid black;
  /* height: 300px; */
}
.loadpage {
  border: 2px solid yellow;
  display: grid;
  grid-gap: 20px;
  width: 95%;
  margin: 30px auto;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.displayImg {
  width: 300px;
  height: 300px;
}
.dispalyhead {
  text-align: center;
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
}
.display-htext {
  overflow: hidden;
  text-overflow: ellipsis;
}
